body, html {
  overflow-x: hidden;
  width: 100%;
  height: 100%
}

body {
  position: relative;
  height: 100%;
  min-height: 100%
}
a {
    text-decoration: none
}

:active,:focus,:visited,a,a:active,a:focus,a:visited {
    outline: 0
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.glyph-icon:before {
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background: 0 0;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.example-box-wrapper {
  position: relative;
  margin-bottom: 40px;
  padding: -5px 25px 10px;
 
}


.popover .popover-content {
	/* white-space:normal; */
  padding: 15px
}
.display-block.popover {
  box-shadow: 0 0 0 transparent
}
.popover.top {
  margin-top: -10px
}
.popover.right {
  margin-left: 10px
}
.popover.bottom {
  margin-top: 10px
}
.popover.left {
  margin-left: -10px
}
.popover-title {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 10px 15px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent
}
.popover-title:empty {
  display: none
}
.popover .arrow, .popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
}
.popover .arrow {
  border-width: 10px;
}
.popover .arrow:after {
  content: '';
  border-width: 10px
}
.popover.top .arrow {
  left: 50%;
  margin-left: -11px;
}
.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: rgba(0, 0, 0, .2);
  border-bottom-width: 0
}
.popover.right .arrow {
  top: 50%;
  left: -22px;
  margin-top: -11px
}
.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: rgba(0, 0, 0, .2);
  border-left-width: 0
}
.popover.bottom .arrow {
  left: 50%;
  margin-left: -11px
}
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: rgba(0, 0, 0, .2)
}
.popover.left .arrow {
  top: 50%;
  right: -22px;
  margin-top: -11px
}
.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-right-width: 0;
  border-left-color: rgba(0, 0, 0, .2)
}
.popover .dropdown-menu, .popover .nav-list {
  margin: 0;
  border: 0
}
.display-block.popover {
  float: none;
  width: auto;
  margin: 0
}
.popover {
  position: absolute;
  z-index: 1038;
  top: 105%;
  left: 0;
  display: none;
  float: left;
  min-width: 150px;
  margin: 5px 0 0;
  padding: 5px;
  list-style: none;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .2);
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, .3);
  top: 100%;
  border-radius: 3px;
}

.timeline-box .tl-item .popover {
  border-color: #ddd;
}

.timeline-horizontal.timeline-box:before {
    background: #ddd;
}



.timeline-box {
    position: relative
}

.timeline-box:before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    margin-left: 0;
    content: '';
    border-left: 1px solid transparent
}

.timeline-box .tl-row {
    position: relative;
    padding: 10px 0;
}

.timeline-box .tl-row .tl-item {
    width: 50%
}

.timeline-box .tl-row .tl-item .popover {
    position: relative;
    display: block;
    margin: 0;
    box-shadow: 0 0 0 transparent
}

.timeline-box .tl-row .tl-item .popover.left {
    float: right;
    margin-right: 35px
}

.timeline-box .tl-row .tl-item.float-right .popover.right {
    margin-left: 35px
}

.timeline-box .tl-row .tl-item .tl-panel {
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin-top: -8px;
    margin-left: 23px;
    text-align: left
}

.timeline-box .tl-row .tl-item.float-right .tl-panel {
    right: 50%;
    left: auto;
    margin-right: 23px;
    margin-left: 0;
    text-align: right
}

.timeline-box .tl-row .tl-item .tl-title {
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 10px
}

.timeline-box .tl-row .tl-item .tl-label {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 8px
}

.timeline-box .tl-row .tl-item .tl-content {
    font-size: 13px;
    margin: 0 0 10px;
    opacity: .8;
    -moz-opacity: .8;
    filter: alpha(opacity:80)
}

.timeline-box .tl-row .tl-item .tl-time {
    font-style: italic;
    opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity:40)
}

.timeline-box .tl-row .tl-item .tl-bullet,.timeline-box .tl-row .tl-item .tl-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 17px;
    height: 17px;
    margin-top: -9px;
    margin-left: -8px;
    border-radius: 100px
}

.timeline-box .tl-row .tl-item .tl-bullet:before {
    display: block;
    width: 9px;
    height: 9px;
    margin: 4px 0 0 4px;
    content: '';
    border-radius: 100px;
    background: #fff
}

.timeline-box .tl-row .tl-item .tl-icon {
    font-size: 18px;
    line-height: 34px;
    width: 34px;
    height: 34px;
    margin-top: -18px;
    margin-left: -17px;
    text-align: center
}

.timeline-scroll {
		width: 100em;
		/* white-space: nowrap; */
		/* overflow-x:auto;
		overflow-y:hidden;  */ 
   
}



.timeline-horizontal {
    height: 400px;
    padding: 10px 0
}

.timeline-horizontal .tl-row {
    float: left;
    /*width: 400px;*/
    width: 200px;
    height: 173px
}

.timeline-horizontal.timeline-box:before {
    top: 50%;
    left: 0;
    width: 0;
    height: 1px;
    border: 0;
}

.timeline-horizontal.timeline-box .tl-row .tl-item {
    width: auto;
}

.timeline-horizontal.timeline-box .tl-row .tl-item .tl-panel {
    top: auto;
    bottom: -60px;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center
}

.timeline-horizontal.timeline-box .tl-row .tl-item .tl-bullet {
    margin-left: -9px
}

.timeline-horizontal.timeline-box .tl-row .tl-item .tl-bullet,.timeline-horizontal.timeline-box .tl-row .tl-item .tl-icon {
    top: auto;
    bottom: -27px;
    transition: background .8s;
}

.timeline-horizontal.timeline-box .tl-row .tl-item .popover {
    position: absolute;
    top: auto;
    bottom: 18px;
    width: 100%;
    transition: background .8s;
}

.timeline-horizontal.timeline-box .tl-row .tl-item.float-right .tl-panel {
    bottom: 6px;
}

.timeline-horizontal.timeline-box .tl-row .tl-item.float-right .popover {
    top: 230px;
    bottom: auto
}
.tl-row:hover .popover, .tl-row:hover .tl-icon {
  background: rgba(145, 208, 201, 0.6)
}
